*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html { 
    font-family: 'Titillium Web', 'helvetica', 'sans-serif';
    font-size: 18px;
    line-height: 1.45rem;
    background:#f9f9f9;
    color:#282828;
}

p + p{
    text-indent: 1.5rem;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

h1, h2{
    margin:1.3rem;
    padding-top: 1.3rem;
    text-align: center;
}

.box{
    position: relative;
    height:auto;
    width: 100%;
}

section{
    padding: 1rem;
}

/*.centered {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/

#laptop{
    max-height: 95vh;
    width:100%;
}

#about{
    margin: 1rem auto 1rem auto;
    margin-top: 2rem;
    width:90%;
    padding: 0 1rem;
    
}

#time{
    width: 100%;
    float:right;
    padding:0 1rem;
    
}

#timeline{
    width:100%;
    max-width: 800px;
    
}

#me{
    padding:0 1rem;
    max-width: 680px;
}

iframe{
    margin:1rem;
    margin-left: 0rem;
    width:100%;
}

#portfolio{
    clear:both;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    grid-gap: 1rem;
    margin:0 1rem;
    position:relative;
    
}

.color{
    background: #d9dad5;
    clear: both;
}

a:link{
    color:#3e543f;
}

a:visited{
    color:#4c673e
}

#firstYear{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin:1rem;
}

h2{
    text-align: left;
}

.persona{
    width:20vw;
    float:right;
    margin:1rem;
}

.stuff{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin:1rem;
    
}

.borders{
    height:5vh;
    border: 2px solid #d9d9d9;
    text-align: center;
    vertical-align: middle;
}

.red{
    height:5vh;
    text-align: center;
    border: 2px solid #CD5C5C;
    
}

.blue{
    height:5vh;
    text-align: center;
    border: 2px solid #517693;
}

.pp{
    width:100%;
    height: 43vh;
    display: block;
    
}

.no{
    text-indent: 0rem;
    background: #d9dad5;
}

.wrapper{
    margin:1rem auto;
    margin-top:1.45rem;
    padding:1rem;
    clear:both;
    max-width: 900px;
}

ul{
   list-style-position: inside;
}


.projectStuff{
    margin:1rem;
    
}

.projectStuff img{
    width:50vw;
    float:right;  
    margin:1rem;
}

.projectStuff h1{
    text-align: left;
    line-height: 1.95rem;
    vertical-align: center;
}
/*media queries */

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }


  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) + .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked + .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

@media (min-width:900px){
    #time{
        width:50%;
    }
    #timeline{
        max-height: 1500px;
    }
    #me{
        width:50%;
    }
}